body {
  color: #601E40;
  font-family: Calibri;
  background-color: #FFC1FF;
}

#leader {
  color: #500E30;
  font-size: 130%;
}

#mnogo {
  color: blue;
  font-family: "Times New Roman";
  font-size: 120%;
}

ul{
  font-size: 200%
}

.imageArtists{
  height: 35%;
  width: 35%;
  padding: 1px;
  border: 2px solid #000;
  background-color: #FFF;
}
